<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-sacle=1.0,minimum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav class="menu">
        <div class="l-wrap">
            <ul class="menu__list">
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
                <li><a href="javascript:;">资源下载</a></li>
            </ul>
        </div>
    </nav>
    <header class="site-header">
        <div class="l-wrap clearfix">
            <a href="javascript:;" class="logo">
                <img src="./images/logo.png" alt="">
            </a>
            <div class="l-form-wrap">
                <form action="http://www.baidu.com/s">
                    <input type="text" class="form__input--text" placeholder="输入你想要的内容">
                    <input type="sumbit" class="form__input--btn" value="百度一下" name="baidu">
                    <input type="submit" class="form__input--btn" value="谷歌搜索" name="google">
                </form>
            </div>
        </div>
    </header>
    <section class="section-one">
        <div class="l-wrap">
                <form>
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" required placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label>email</label>
                        <input type="email" required placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label>homepage</label>
                        <input type="url" placeholder="请输入博客url">
                    </div>
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea required></textarea>
                    </div>
                </form>
        </div>
    </section>
    <section class="section-two">
        <div class="l-wrap">
                <ul>
                    <li>
                        <div class="hd"> 列表1 </div>
                        <div class="bd">列表内容<br>内容列表内容<br>内容列表内容<br>内容</div>
                    </li>
                    <li>
                        <div class="hd"> 列表1 </div>
                        <div class="bd">列表内容<br>内容列表内容<br>内容列表内容<br>内容</div>
                    </li>
                    <li> <div class="hd"> 列表1 </div>
                        <div class="bd">列表内容<br>内容列表内容<br>内容列表内容<br>内容</div>
                    </li>
                </ul>
        </div>
    </section>
    <section class="section-three">
        <div class="l-wrap">
            <div class="radio-beauty-container">
                <label>
                    <span class="radio-name">前端工程师</span>
                    <input type="radio" id="radioname1" name="job-category" hidden>
                    <label for="radioname1" class="radio-beauty"></label>
                </label>
                <label>
                    <span class="radio-name">后端工程师</span>
                    <input type="radio" id="radioname2" name="job-category" hidden>
                    <label for="radioname2" class="radio-beauty"></label>
                </label>
                <label>
                    <span class="radio-name">全栈工程师</span>
                    <input type="radio" id="radioname3" name="job-category" hidden>
                    <label for="radioname3" class="radio-beauty"></label>
                </label>
                <div style="margin: 1rem auto;font-size: 1.5rem;">
                    <span class="word-underline">拉钩、前途无忧、智联、100offer、boss直聘</span>
                </div>
                <div class="tan"></div>
                <img src="images/1.jpg" alt="" width="150" height="150" class="desaturate">
            </div>
        </div>
    </section>
    <section class="section-four">
        <div class="l-wrap clearfix">
            <div class="l-wrap--left">
                <div id="loading1" class="demo-wrap clearfix">
                    <div class="demo demo1"></div>
                    <div class="demo demo2"></div>
                    <div class="demo demo3"></div>
                    <div class="demo demo4"></div>
                    <div class="demo demo5"></div>
                </div>
            </div>
            <div class="l-wrap--center">
                <div id="loading2" class="demo-wrap clearfix">
                    <div class="demo demo1"></div>
                    <div class="demo demo2"></div>
                    <div class="demo demo3"></div>
                    <div class="demo demo4"></div>
                    <div class="demo demo5"></div>
                </div>
            </div>
            <div class="l-wrap--right">
                <div id="loading3" class="demo-wrap clearfix">
                    <div style="position: relative">
                        <div class="demo demo1"></div>
                        <div class="demo demo2"></div>
                        <div class="demo demo3"></div>
                        <div class="demo demo4"></div>
                        <div class="demo demo5"></div>
                        <div class="demo demo6"></div>
                        <div class="demo demo7"></div>
                        <div class="demo demo8"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="l-wrap"></div>
    </footer>
    <script>
    </script>
    <script>
        console.log(toString.call('a'));
    </script>
</body>
</html>